img {width:450px;}

#laptopimg {
    width: 200px;
}

h1 {
    font-size: 25px;
}

#byuline {
    font-size:18px;
    color: rgb(8, 8, 201);
    font-family: 'Overpass', sans-serif;
}

body {
    color: black;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(224, 246, 253);
}

#listhead {
    font-size: 17px;
}


.mydiv {

width: 200px;
font-size: 19px;

}